<launch>
  
  <!-- Loads the world -->
  <include file="$(find uuv_gazebo_worlds)/launch/ocean_waves.launch"/>

  <!-- Spawns the Manta model -->
  <include file="$(find manta_description)/launch/upload.launch"/>

  <!-- Begins the thruster manager -->
  <include file="$(find manta_thruster_manager)/launch/thruster_manager.launch"/> 
 
</launch>
